body {
    margin: 0px;
    background-color:#e9ebee;
    font-family: arial;
  }
  
  .header {
    background-color: #3b5998;
    padding: 7px 0px 3px 13%;
  }
  
  .header *{
    display:inline-block;
  }
  
  p {
    margin: 0px;
  }
  
  .search {
    background-color: white;
    width: 450px;
    height: 24px;
    position: relative;
    top: -4px;
  }
  
  .logo {
    background-image: url('https://www.facebook.com/rsrc.php/v2/ys/r/aVIyzaVqPTE.png');
        background-repeat: no-repeat;
      background-size: auto;
      background-position: 0 -223px;
      height: 24px;
      outline: none;
      overflow: hidden;
      text-indent: -999px;
      white-space: nowrap;
      width: 24px;
    position: relative;
    top: 3px;
  }
  
  #inputText {
        width: 392px;
    border-radius: 5px;
      height: 22px;
      position: relative;
      top: 1px;
    padding-left: 5px;
    font-size: 14px;
    border: 0px;
  }
  .profile-icon{
    height: 22px;
    position: relative;
    top: 1px;
  padding-left: 5px;
  font-size: 14px;
  border: 0px;
  }
  .search-icon {
    background-color: #f6f7f9;
    height: 100%;
    width: 50px;
    text-align: center;
    float: right;
  }
  .search-icon img {
    height: 15px;
    width:15px;
    margin: 10% 0;
  }
  
  .right-side {
    position: relative;
    left: 15%;
  }
  
  .leftofright {
    position: relative;
    top: -2px;
  }
  
  .leftofright a {
    color: white;
    font-size: 12px;
    position: relative;
    top: -3px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .leftofright  p:nth-child(3){
    color: black;
    opacity: 0.3;
  }

  
  .leftofright img {
    position: relative;
    top: 5px;
  }
  
  .privacy {
    background-position:0px -613px;
    width: 17px;
  }
  
  .rightofright p {
    position: relative;
    top: -8px;
    opacity: 0.3;
    margin: 0 8px;
  }
  
  .down {
    background-position: 0px -600px;
    width: 15px;
    height: 13px;
    position: relative;
    top: -8px;
  }
  
  .small-screen {
    opacity: 0;
  }
