
.main {
  max-width: 65%;
  margin: auto;
  background: white;
  padding: 10px;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
	background: #f0f2f5;
}
.posts{
  
  padding: 10px;
  margin-top: 10px;
}
.post {
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(102, 101, 101), 
      rgba(252, 246, 246, 0)
    ) 1 100%;
  padding: 10px;

  margin-top: 10px;
}


.logo{
    padding: 0px 0px 20px 0px;
    width: 327px;
    margin: -31px;
}
.left{
    padding-right: 60px;
    width: 500px;
    line-height: 32px;
    font-size: 1.5em;
}
.right{
    padding-bottom: 50px;
}
.left h2{
    font-weight: normal;
    margin-block-end: initial;
    margin-block-start: initial;
    margin-bottom: 135px;
}
@media only screen and (max-width: 972px) {
    .left h2 {
        margin-bottom: 0px;
        padding-inline-start: 18px;
    }
    .left{
        display: flex;
        padding-right: 0px;
        width: 396px;
        flex-direction: column;
        align-items: center;
    }
    .left .text{
        font-size: 24px;
    }
}
.container{
    text-align: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    padding-bottom: 24px;
    padding-top: 10px;
    margin-bottom: 35px ;
}
.input{
    padding: 6px 0;
    font-size: 17px;
    padding: 14px 16px;
    width: 365px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    margin-bottom: 15px; 
}
.login{
    background-color: #1877f2;
    color:#fff;
    width: 365px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    margin-bottom: 15px;
}
.forgotten{
    text-decoration :none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}
.container hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 365px;
}
.create{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    color: #fff;
}
.create a{
    width:50px;
}
.create{
    text-decoration :none;
}
.undercontainer{
    display: flex;
    justify-content: center;
    font-size: small;
}
.undercontainer a{
    text-decoration :none;
    font-weight: 800;
    color:black;
}
.pagefooter{
    color: #aba3a3;
    margin: 0 auto;
    width: 980px;
    margin-top: 20px;
}
.languages{
    padding-top: 8px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.content{
    line-height: 1.6;
}
.pagefooter ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pagefooter a{
    text-decoration: none;
    white-space: nowrap;
    color: #8a8d91;
    
}
.languages li{
    margin-right: 10px;
}

.utilities{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.utilities li{
    margin-right: 20px;
}
.contentcurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}
.copyright{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* signup modal section */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
      align-content: center;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    min-width: 250;
    max-width: 250;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #1877f2;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 11px 75px;
    background-color: #1877f2;
    color: white;
  }

  /* navbar section */
  * {box-sizing: border-box;}

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    position: fixed;
    background-color: #e9e9e9;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }

  /* body setion */
  .my-post{
    /* background-color: #42b72a; */
    margin-top: 60px ;
    width: 100%;

  }
  .my-post  .avatar img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* border: 1px solid rgb(226, 69, 69); */
  }
  .my-post-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    height: 141px;

  
  }

  .my-post .status,
  .my-post .status textarea{
    width: 100%;
    height: 100%;
  }
  .post .post-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
  }
  .post .post-header .right-post-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .post-header .name{
    margin-left: 10px   ;
  }
  .post .post-content{
    margin-left: 10px;
    padding-right: 10px;
  }
 
  .post .post-content img{
    width: 100%;
    height: 350px;
    margin-top: 10px;
    border-radius: 15px;
  }
  .post .post-likes{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .post .post-likes img{
    width:20px
  }
  
  .post .post-header .avatar img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* border: 1px solid rgb(226, 69, 69); */
  }
  .my-post-footer .btn-img{
    width: 100%;
    height: 50px;
  }
  .post .post-footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
.post .post-footer .post-footer-btn{
  flex-grow: 1;
    width: 45%;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
}
.my-comment-section .my-avatar img{
  width: 35px;
  border-radius: 50%;
  margin-left:5px;
  margin-right:5px;
}.my-comment-section{
  display: flex;
    justify-content: flex-start;
    margin-top:10px;
    margin-bottom: 5px;
}
.my-comment-section .my-comment{
  width:100%;
  margin-right: 5px;
}
.my-comment-section .my-comment .my-comment-imput{
  width:100%; 
  border-radius: 8px;
  
}
.comments{
  margin-top: 10px;
  margin-left: 10px;
}
.comments .comment-container .comment-avatar img{
  width: 25px;
  border-radius: 50%;
  
  margin-left:5px;
  margin-right:5px;
}
.comment-container{
  display:flex;
  margin-top: 5px;
}
.comment-container .comment{
  display:flex;
  flex-direction: column;
  background-color: #e0dada;
  border-radius: 8px;
  padding:5px;
}

/* stidebar nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#burger {
  transition: margin-left .5s;
  padding: 16px;
  position:fixed;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#burger span{
  font-size:30px;
  cursor:pointer
}

/* search bar */

* {
  box-sizing: border-box;
}
.search-container{
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}


/* friends */
.main-friends-divs{
  display: flex;
  flex-direction: row;
  margin: 50px;
  margin-left: 80px;
  flex-wrap: wrap;
}

.main-friends-divs .friend-div{
  border-radius: 15px;
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 40px;

  padding: 0px;
  box-shadow: 5px 5px 20px 1px #888888;
}
.main-friends-divs .friend-div img{
  width: 100%;
  border-radius: 15px;
  margin-bottom: 7px;
  
}
.main-friends-divs .friend-div span{
  font-size: 20px;
  margin-bottom: 7px;
  margin-left: 7px;
}
.main-friends-divs .friend-div button{
  width: 80%;
  border: 1px solid #dddfe2;
  color: #1d2129;
  padding: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.main-friends-divs .friend-div button:hover{
  background-color: #dddfe2;
  color: #1d2129;
}
.main-friends-divs .friend-div .add-friend-btn{
  background-color: #d6e1ec;
  color: #2196F3;
}
.main-friends-divs .friend-div .add-friend-btn:hover{
  background-color: #1a76c2;
  color: white;
}
.main-friends-divs .friend-div .block-btn{
  background-color: #b3b7bb;
  color: #2e1f1f;
}
.main-friends-divs .friend-div .block-btn:hover{
  background-color: #2e1f1f;
  color: white;
}
.main-friends-divs .friend-div .unblock-btn{
  background-color: #e4c2c7;
  color: rgb(0, 0, 0);
}
.main-friends-divs .friend-div .unblock-btn:hover{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.main-friends-divs .friend-div .remove-friend-btn{
  background-color: #ececb8;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.main-friends-divs .friend-div .remove-friend-btn:hover{
  background-color: #ff0000;
  color: rgb(247, 241, 241);
}