.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 90px 0px;
    background: #f0f2f5;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
.logo{
    padding: 0px 0px 20px 0px;
    width: 327px;
    margin: -31px;
}
.left{
    padding-right: 60px;
    width: 500px;
    line-height: 32px;
    font-size: 1.5em;
}
.right{
    padding-bottom: 50px;
}
.left h2{
    font-weight: normal;
    margin-block-end: initial;
    margin-block-start: initial;
    margin-bottom: 135px;
}
@media only screen and (max-width: 972px) {
    .left h2 {
        margin-bottom: 0px;
        padding-inline-start: 18px;
    }
    .left{
        display: flex;
        padding-right: 0px;
        width: 396px;
        flex-direction: column;
        align-items: center;
    }
    .left .text{
        font-size: 24px;
    }
}
.container{
    text-align: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    padding-bottom: 24px;
    padding-top: 10px;
    margin-bottom: 35px ;
}
.input{
    padding: 6px 0;
    font-size: 17px;
    padding: 14px 16px;
    width: 365px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    margin-bottom: 15px; 
}
.login{
    background-color: #1877f2;
    color:#fff;
    width: 365px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    margin-bottom: 15px;
}
.forgotten{
    text-decoration :none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}
.container hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 365px;
}
.create{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    color: #fff;
}
.create a{
    width:50px;
}
.create{
    text-decoration :none;
}
.undercontainer{
    display: flex;
    justify-content: center;
    font-size: small;
}
.undercontainer a{
    text-decoration :none;
    font-weight: 800;
    color:black;
}
.pagefooter{
    color: #aba3a3;
    margin: 0 auto;
    width: 980px;
    margin-top: 20px;
}
.languages{
    padding-top: 8px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.content{
    line-height: 1.6;
}
.pagefooter ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pagefooter a{
    text-decoration: none;
    white-space: nowrap;
    color: #8a8d91;
    
}
.languages li{
    margin-right: 10px;
}

.utilities{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.utilities li{
    margin-right: 20px;
}
.contentcurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}
.copyright{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* signup modal section */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
      align-content: center;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    min-width: 250;
    max-width: 250;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #1877f2;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 11px 75px;
    background-color: #1877f2;
    color: white;
  }
  .post{
    border-style: groove;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-direction: column;
}
  .image > img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
  }
  .header{
    display: flex;
    justify-content: center;
  }
.title{
    background-color: #888;
}
.post div {
    overflow: auto;
    width: 100%;
}
.likes > img {
    max-width: 3%;
  }
.likes{
    display: flex;
    align-items: center;
}
.postText{
    padding-top: 1%;
}
.commentText{
    width: 100%;
    margin-right: 1%;
    margin-left: 1%;
}
.commentPlace{
    display: flex;
}
.profile-pic{
    border-radius: 100%;
}
.user{
    border-style: none groove none  none;
    width: auto !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.comment{
    border-style: none none groove  none;
    margin-bottom: 1%;
    display: flex;
}
.text{
    display: flex;
    align-items: center;
}
